* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Overpass;
  background-color: hsl(216, 12%, 8%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* rate start */
.rate-container {
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
  height: 380px;
  width: 87%;
  border-radius: 15px;
}

.icon {
  margin: 1.5625rem 0 1.25rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8125rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 100%;
  background-color: hsla(216, 12%, 54%, 0.1);
}

.icon-star {
  width: 100%;
  height: 100%;
}

.message h2 {
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 0.9375rem;
}

.message p {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.5625rem;
  font-size: 0.9rem;
  color: hsl(216, 12%, 54%);
  line-height: 25px;
}


.rate-buttons {
  margin-bottom: 1.5625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.button1:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button2:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button3:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button4:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button5:hover{
  background-color: hsl(25, 97%, 53%);
  color: white;
}


.rate-buttons button {
  cursor: pointer;
  border: none;
  color: hsl(216, 12%, 54%);
  padding: 0.875rem 1.125rem;
  border-radius: 100%;
  background-color: hsla(216, 12%, 54%, 0.15);
  font-weight: 700;
}

.submit {
  display: flex;
  justify-content: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 88%;
}

.submit button {
  letter-spacing: 3px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  height: 47px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
}

.submit button:active {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

/* rate end */

/* thank you start */
.thank-you-state {
  display: none;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
  height: 380px;
  width: 87%;
  border-radius: 15px;
}

.thank-you-logo-container {
  margin-top: 2.2rem;
  margin-bottom: 1.15rem;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.1);
  padding: 9px 15px 5px 15px;
  border-radius: 20px;
  margin-bottom: 1.7rem;
}

.thank-you-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank-you-message h2 {
  color: white;
  margin-bottom: 0.8rem;
}

.thank-you-message p {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  font-size: 0.9rem;
  color: hsl(216, 12%, 54%);
  line-height: 25px;
}

/* thank you end */

.attribution { font-size: 11px; text-align: center; position:absolute; bottom: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }
